<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
	<title>Hora python</title>
</head>
<body>
	<h1>Hora</h1>
	Hola {{usuario}} la hora es: {{hora}}
	<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Officiis, ipsam, est tenetur nostrum quisquam culpa nihil rem unde dicta quis expedita voluptatem quo reiciendis maiores iure soluta repellendus. Suscipit, quod.</p>
</body>
</html>